* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Body general rules */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

/*Header*/
header {
    background-color: orange;
}

/*Main*/
main {
    background-color: yellow;
    height: 100;
    /*Main takes any surplus space*/
    flex-grow: 1;
}

/*Footer*/
footer {
    background-color: #0a024d;
    color: #fafafa;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
 /*contact*/
#contact ul {
    list-style-type: none;
}

/*social networks*/
#social-networks {
    display: flex;
    align-items: center;
}

#social-networks ul {
    list-style-type: none;  
    display: flex; 
    gap: 20px;
}


#social-networks i {
    color: #fafafa;
    font-size: 150%;
}