/* Font import from google font */
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Spinnaker&display=swap');

/* Wildcard selector, override default styles added in browser */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Body general rules */
body {
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Spinnaker', sans-serif;
    color: black;

    
}

/*Header*/
header {
    background-color: orange;
}

h1 {
    font-family: 'Overlock', sans-serif;
}

/*Main*/
main {
    background-color: yellow;
    height: 100;
    /*Main takes any surplus space*/
    flex-grow: 1;
}

/*Footer*/
footer {
    background-color: #0a024d;
    color: #fafafa;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
 /*contact*/
#contact ul {
    list-style-type: none;
}

/*social networks*/
#social-networks {
    display: flex;
    align-items: center;
}

#social-networks ul {
    list-style-type: none;  
    display: flex; 
    gap: 20px;
}


#social-networks i {
    color: #fafafa;
    font-size: 150%;
}