/* Font import from google font */
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Spinnaker&display=swap');

/* Wildcard selector, override default styles added in browser */
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

/* Body general rules */
body {
    min-height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Spinnaker', sans-serif;
    color: black;

    
}

/*Header*/
header {
    background-color: #84d7fa;
    z-index: 99;
    position: fixed;
    width: 100%;
    box-shadow: 0 4px 4px #006eff;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a {
    /* remove underline for <a> tag descendant of header */
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Overlock', sans-serif;
    color: #1b1b1c;
    text-transform: uppercase;

    
}
 /* put h1 on 2 different lines */
.mutiline-title {
    line-height: 0.8em;  
}

#menu > li {
    margin-bottom: 8px;
    list-style-type: none;
}

.active {
    border-bottom: 1px solid;
}

/*Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #84d7fa;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 4px 4px #006eff;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 150%;
}

/*Main*/
main {
    background-color: yellow;
    width: auto;
    /*Main takes any surplus space*/
    flex: 1 0 auto;
    margin-top: 78px;
}

/*Footer*/
footer {
    background-color: #0a024d;
    color: #fafafa;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
}
 /*contact*/

#contact {
    font-size: 80%;
}

#contact ul {
    list-style-type: none;

}

/*social networks*/
#social-networks {
    display: flex;
    align-items: center;
}

#social-networks ul {
    list-style-type: none;  
    display: flex; 
    gap: 20px;
}


#social-networks i {
    color: #fafafa;
    font-size: 120%;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    /*header*/
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
        box-shadow: none;
    }

    #menu {
        display: flex;
        gap: 10px;
    }

    .nav-toggle-label {
        display: none;
    }
}